{% set alert_icons = {
    'success': 'bi bi-check-circle-fill',
    'warning': 'bi bi-exclamation-triangle-fill',
    'danger': 'bi bi-x-circle-fill',
    'info': 'bi bi-info-circle-fill',
} %}

{% for label, messages in app.flashes %}
    <div id="flashMessages"
         class="modal fade"
         aria-hidden="true"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content rounded-0">
                <div class="modal-body bg-{{ label }} bg-opacity-25 text-center py-2">
                    {% for message in messages %}
                        <p class="text-{{ label }} mx-0 my-2">
                            <i class="{{ alert_icons[label] }} me-1"></i> {{ message|raw }}
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
