#!/bin/sh

# sonar config
export SONAR_HOST_URL=''
export SONAR_PROJECT_KEY=''
export SONAR_TOKEN=''

# generate coverage reports
docker-compose exec -u root php make test-code-coverage

# run sonar scanner
docker run \
  --rm \
  --network=host \
  -e SONAR_HOST_URL="${SONAR_HOST_URL}" \
  -e SONAR_SCANNER_OPTS="-Dsonar.projectKey=${SONAR_PROJECT_KEY}" \
  -e SONAR_TOKEN="${SONAR_TOKEN}" \
  -v "${PWD}:/usr/src" \
  sonarsource/sonar-scanner-cli
