<!-- modal_framework -->
<div id="frameworkModal"
     class="modal fade"
     aria-hidden="true"
     tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-0">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="mb-0">{% trans %}page.home.framework.title{% endtrans %}</h3>
                            <small class="text-muted">{% trans %}page.home.framework.subtitle{% endtrans %}</small>
                            <hr class="m-0 my-2">
                        </div>
                        {% if isGranted['frameworks']['create'] %}
                            <div class="col">
                                <a id="buttonCreateFramework"
                                   class="w-100 btn btn-sm my-1 btn-grey rounded-0"
                                   type="button"
                                   title="{% trans %}page.home.framework.btn_create{% endtrans %}"
                                   href="{{ path('framework_create') }}">
                                    <i class="bi bi-plus-circle me-1"></i> {% trans %}page.home.framework.btn_create{% endtrans %}
                                </a>
                            </div>
                        {% endif %}
                        {% if isGranted['frameworks']['update'] and frameworks|length > 0 %}
                            <div class="col">
                                <button id="buttonUpdateFramework"
                                        class="w-100 btn btn-sm my-1 btn-grey rounded-0"
                                        type="button"
                                        title="{% trans %}page.home.framework.btn_update{% endtrans %}"
                                        data-bs-target="#frameworkEditModal"
                                        data-bs-toggle="modal"
                                        data-bs-dismiss="modal">
                                    <i class="bi bi-pencil-square me-1"></i> {% trans %}page.home.framework.btn_update{% endtrans %}
                                </button>
                            </div>
                        {% endif %}
                        {% if isGranted['frameworks']['import'] %}
                            <div class="col">
                                <a id="buttonImportFramework"
                                   class="w-100 btn btn-sm my-1 btn-grey rounded-0"
                                   type="button"
                                   title="{% trans %}page.home.framework.btn_import{% endtrans %}"
                                   href="{{ path('framework_import') }}">
                                    <i class="bi bi-upload me-1"></i> {% trans %}page.home.framework.btn_import{% endtrans %}
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /modal_framework -->

{% if isGranted['frameworks']['update'] and frameworks|length > 0 %}
    {% include('partial/modal/home/_modal_framework_update.html.twig') %}
{% endif %}
