/**
 * Check PHP mapping with /src/Constant/ColorConstant.php
 */
$color-pink:       #EA5297;
$color-grey:       #5A5A5A;
$color-grey-light: #CCCCCC;
$color-yellow:     #F4C617;
$color-cyan:       #52ACD2;
$color-orange:     #EE7925;
$color-red:        #EC655D;
$color-white:      #FFFFFF;
$color-black:      #000000;
